@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500o&display=swap");
.body-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "div" "main" "footer"; }
  .body-grid-container header {
    grid-area: header; }
  .body-grid-container main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "section" "section"; }
  .body-grid-container footer {
    grid-area: footer; }

.card__grid-container {
  display: grid; }
  .card__grid-container h2 {
    padding: 2.4rem;
    margin: auto; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.flex {
  display: flex;
  gap: var(--gap, 1rem); }

.primary-header {
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.4rem;
  position: fixed;
  width: 100vw;
  background-color: white;
  height: auto;
  display: flex;
  z-index: 1000;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 4px rgba(127, 127, 127, 0.2); }
  .primary-header .logo-container-desktop {
    width: 15rem;
    display: none; }
    .primary-header .logo-container-desktop .logo-desktop {
      width: 100%; }
  .primary-header .logo-container-mobil {
    width: 6rem; }
    .primary-header .logo-container-mobil .logo-mobil {
      width: 100%; }
    @media screen and (min-width: 860px) {
      .primary-header .logo-container-mobil {
        display: none; } }
  .primary-header .menu-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: unset;
    background-image: url(../../../icons/menu_oso_lila.svg);
    background-repeat: no-repeat;
    border: 0;
    width: 2.4rem;
    aspect-ratio: 1;
    right: 2.4rem; }
  .primary-header .primary-nav {
    --gap: 4em;
    list-style: none;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    background-color: white;
    filter: drop-shadow(0px 4px 4px #7F7F7F);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    flex-direction: column;
    padding: 10vh 2rem;
    padding-right: 1rem;
    transform: translateX(100%);
    transition: transform 350ms ease-in; }
    .primary-header .primary-nav h1 {
      display: flex;
      top: 4rem;
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      color: #c9aecf; }
    .primary-header .primary-nav li {
      margin-right: 1.4rem;
      border-bottom: solid #CECECE 1px;
      padding: 0.5rem; }
      .primary-header .primary-nav li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-inline-end: 2rem;
        font-family: "Roboto", sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        color: #8d43f0; }
      .primary-header .primary-nav li span {
        margin-inline-end: 1rem; }
        .primary-header .primary-nav li span .iconos-navbar {
          width: 24px; }
    .primary-header .primary-nav .primary-nav-redes {
      display: flex;
      align-items: baseline;
      flex-direction: row;
      justify-content: center;
      margin-block: auto;
      gap: 1.2rem; }
      .primary-header .primary-nav .primary-nav-redes a img {
        width: 40px; }
  .primary-header .primary-nav[data-visible="true"] {
    transform: translateX(0%); }
  .primary-header .menu-toggle[aria-expanded="true"] {
    background-image: url(../../../icons/x_oso_lila.svg); }
  @media screen and (min-width: 650px) {
    .primary-header .logo-container-desktop {
      display: flex; }
    .primary-header .logo-container-mobil {
      display: none; } }
  @media screen and (min-width: 860px) {
    .primary-header {
      padding: 2rem 8rem; }
      .primary-header .menu-toggle {
        display: none; }
      .primary-header .logo-container-desktop {
        display: flex; }
      .primary-header .primary-nav {
        gap: unset;
        flex-direction: row;
        align-items: center;
        padding: unset;
        inset: unset;
        position: unset;
        background-color: unset;
        filter: unset;
        transform: translateX(0%);
        background-color: unset !important;
        filter: unset !important; }
        .primary-header .primary-nav h1 {
          display: none; }
        .primary-header .primary-nav li {
          border-bottom: unset; }
        .primary-header .primary-nav span {
          display: none; } }
  .primary-header .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0; }

.hero-section-container .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 12.4rem; }
  .hero-section-container .hero-section .hero-section-content {
    display: inline-block;
    margin: 1rem; }
    .hero-section-container .hero-section .hero-section-content .content--modifier {
      padding: 1.4rem; }
      .hero-section-container .hero-section .hero-section-content .content--modifier h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 3.4rem;
        font-weight: 700;
        line-height: 35px;
        text-transform: uppercase;
        color: #8d43f0;
        display: inline; }
        @media screen and (min-width: 860px) {
          .hero-section-container .hero-section .hero-section-content .content--modifier h1 {
            font-size: 6.8rem;
            line-height: 70px; } }
    @media screen and (min-width: 860px) {
      .hero-section-container .hero-section .hero-section-content {
        width: 30vw; } }
    .hero-section-container .hero-section .hero-section-content .hero-section-img {
      width: 300px;
      padding: 2.4rem; }
      @media screen and (min-width: 860px) {
        .hero-section-container .hero-section .hero-section-content .hero-section-img {
          width: 450px; } }
  .hero-section-container .hero-section .main-quienes {
    display: flex;
    height: 90vh;
    margin: 1rem;
    align-items: center;
    background-image: url(../../../img/fondo-oso.svg);
    background-repeat: no-repeat;
    background-position: center; }
    .hero-section-container .hero-section .main-quienes .quienes-content {
      display: inline;
      text-align: center;
      padding: 4rem; }
      .hero-section-container .hero-section .main-quienes .quienes-content p {
        text-align: start;
        padding: 1rem; }
  @media screen and (min-width: 860px) {
    .hero-section-container .hero-section {
      flex-direction: row; } }

.hero-section-container .polka__dots--gray::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0px;
  margin: 2.4rem;
  background-image: radial-gradient(#CECECE 5px, transparent 1px);
  background-size: 30px 30px;
  width: 130px;
  height: 100%; }

.card__container-servicios {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1; }
  .card__container-servicios .card__servicios {
    position: relative;
    width: 280px;
    height: 350px;
    margin: auto;
    margin-block: 2.4rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px); }
    .card__container-servicios .card__servicios .card__servicios-content {
      padding: 2rem;
      text-align: center;
      transition: 0.5s; }
      .card__container-servicios .card__servicios .card__servicios-content img {
        width: 150px;
        margin: 2.4rem; }
      .card__container-servicios .card__servicios .card__servicios-content h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 2.4rem;
        color: white;
        margin: 1rem;
        line-height: 2.4rem; }
      .card__container-servicios .card__servicios .card__servicios-content p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        color: white; }

.modal {
  position: absolute;
  width: 100vw;
  height: 150px;
  background-color: red;
  transition: transform 350ms ease-in; }

.consult .consult__head h2, .consult .consult__cards .consult__cards--content span {
  font-family: "Montserrat", sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 35px;
  color: #8d43f0; }

.card__grid-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.4rem;
  font-weight: 500;
  color: white; }

.hero-section-container .hero-section .hero-section-content .content--modifier div, .hero-section-container .hero-section .main-quienes .quienes-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ffd104; }

.hero-section-container .hero-section .hero-section-content .content--modifier p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #7F7F7F;
  text-align: justify; }

.consult .consult__cards .consult__cards--content h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #7F7F7F;
  font-weight: 700; }

.hero-section-container .hero-section .main-quienes .quienes-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: white; }

.consult {
  background-image: url(../../../img/manchas-oso.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 370px;
  margin: 1.2rem; }
  .consult .consult__head {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    .consult .consult__head img {
      width: 110px;
      margin: auto; }
    .consult .consult__head h2 {
      padding: 2rem; }
  .consult .consult__cards {
    display: block;
    padding: 2rem; }
    .consult .consult__cards .consult__cards--content {
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      box-shadow: 0px 4px 4px rgba(127, 127, 127, 0.2);
      margin-bottom: 2.4rem;
      border-radius: 8px; }
      .consult .consult__cards .consult__cards--content h3 {
        padding: 2rem; }
      .consult .consult__cards .consult__cards--content span {
        padding-right: 1rem; }

.card-gradient {
  background: linear-gradient(120deg, #8d43f0, #7C6BE6, #689BDA, #5BBAD2, #4ddcca, #5BBAD2, #689BDA, #7C6BE6, #8d43f0);
  background-size: 200%;
  animation: bg-animation 8s infinite alternate; }

@keyframes bg-animation {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }

.polka__dots::before {
  content: "";
  position: absolute;
  left: 0px;
  margin: 2.4rem;
  background-image: radial-gradient(#ffd104 5px, transparent 1px);
  background-size: 30px 30px;
  width: 130px;
  height: 100%; }

.consult .consult__head h2, .consult .consult__cards .consult__cards--content span {
  font-family: "Montserrat", sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 35px;
  color: #8d43f0; }

.card__grid-container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.4rem;
  font-weight: 500;
  color: white; }

.hero-section-container .hero-section .hero-section-content .content--modifier div, .hero-section-container .hero-section .main-quienes .quienes-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ffd104; }

.hero-section-container .hero-section .hero-section-content .content--modifier p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #7F7F7F;
  text-align: justify; }

.consult .consult__cards .consult__cards--content h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #7F7F7F;
  font-weight: 700; }

.hero-section-container .hero-section .main-quienes .quienes-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: white; }

.top-wave {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); }

.top-wave svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 150px; }

.top-wave .shape-fill {
  fill: white; }

/** For mobile devices **/
@media (max-width: 767px) {
  .top-wave svg {
    width: calc(100% + 1.3px);
    height: 40px; } }

.bottom-wave {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(0deg); }

.bottom-wave svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 150px; }

.bottom-wave .shape-fill {
  fill: white; }

/** For mobile devices **/
@media (max-width: 767px) {
  .bottom-wave svg {
    width: calc(100% + 1.3px);
    height: 40px; } }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
