@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500o&display=swap");
.body-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header" "div" "main" "footer"; }
  .body-grid-container header {
    grid-area: header; }
  .body-grid-container main {
    grid-area: main; }
  .body-grid-container footer {
    grid-area: footer; }

.card-grid-container {
  display: grid; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.flex {
  display: flex;
  gap: var(--gap, 1rem); }

.primary-header {
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.4rem;
  position: fixed;
  width: 100vw;
  background-color: white;
  height: auto;
  display: flex;
  z-index: 1000;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 2px 2px 5px #CECECE; }
  .primary-header .logo-container-desktop {
    width: 15rem;
    display: none; }
    .primary-header .logo-container-desktop .logo-desktop {
      width: 100%; }
  .primary-header .logo-container-mobil {
    width: 6rem; }
    .primary-header .logo-container-mobil .logo-mobil {
      width: 100%; }
    @media screen and (min-width: 860px) {
      .primary-header .logo-container-mobil {
        display: none; } }
  .primary-header .menu-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: unset;
    background-image: url(../../../icons/menu_oso_lila.svg);
    background-repeat: no-repeat;
    border: 0;
    width: 2.4rem;
    aspect-ratio: 1;
    right: 2.4rem; }
  .primary-header .primary-nav {
    --gap: 4em;
    list-style: none;
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    background-color: white;
    filter: drop-shadow(2px 2px 5px #CECECE);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    flex-direction: column;
    padding: 10vh 2rem;
    padding-right: 1rem;
    transform: translateX(100%);
    transition: transform 350ms ease-in; }
    .primary-header .primary-nav h1 {
      display: flex;
      top: 4rem;
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      color: #c9aecf; }
    .primary-header .primary-nav li {
      margin-right: 1.4rem;
      border-bottom: solid #CECECE 1px;
      padding: 0.5rem; }
      .primary-header .primary-nav li a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-inline-end: 2rem;
        font-family: "Roboto", sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        color: #8d43f0; }
      .primary-header .primary-nav li span {
        margin-inline-end: 1rem; }
        .primary-header .primary-nav li span .iconos-navbar {
          width: 24px; }
    .primary-header .primary-nav .primary-nav-redes {
      display: flex;
      align-items: baseline;
      flex-direction: row;
      justify-content: center;
      margin-block: auto;
      gap: 1.2rem; }
      .primary-header .primary-nav .primary-nav-redes a img {
        width: 40px; }
  .primary-header .primary-nav[data-visible="true"] {
    transform: translateX(0%); }
  .primary-header .menu-toggle[aria-expanded="true"] {
    background-image: url(../../../icons/x_oso_lila.svg); }
  @media screen and (min-width: 650px) {
    .primary-header .logo-container-desktop {
      display: flex; }
    .primary-header .logo-container-mobil {
      display: none; } }
  @media screen and (min-width: 860px) {
    .primary-header {
      padding: 2rem 8rem; }
      .primary-header .menu-toggle {
        display: none; }
      .primary-header .logo-container-desktop {
        display: flex; }
      .primary-header .primary-nav {
        gap: unset;
        flex-direction: row;
        align-items: center;
        padding: unset;
        inset: unset;
        position: unset;
        background-color: unset;
        filter: unset;
        transform: translateX(0%);
        background-color: unset !important;
        filter: unset !important; }
        .primary-header .primary-nav h1 {
          display: none; }
        .primary-header .primary-nav li {
          border-bottom: unset; }
        .primary-header .primary-nav span {
          display: none; } }
  .primary-header .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0; }

.hero-section {
  margin-inline: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 12.4rem; }
  .hero-section .hero-section-content {
    display: inline-block; }
    .hero-section .hero-section-content h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 3.4rem;
      font-weight: 700;
      line-height: 35px;
      text-transform: uppercase;
      color: #8d43f0;
      display: inline; }
      @media screen and (min-width: 860px) {
        .hero-section .hero-section-content h1 {
          font-size: 6.8rem;
          line-height: 70px; } }
    @media screen and (min-width: 860px) {
      .hero-section .hero-section-content {
        width: 30vw; } }
  .hero-section .hero-section-img {
    width: 300px;
    padding: 2.4rem; }
    @media screen and (min-width: 860px) {
      .hero-section .hero-section-img {
        width: 450px; } }
  @media screen and (min-width: 860px) {
    .hero-section {
      flex-direction: row; } }

.main-quienes {
  display: flex;
  height: 90vh;
  align-items: center;
  margin-inline: 2rem;
  background-image: url(../../../img/fondo-oso.svg);
  background-repeat: no-repeat;
  background-position: center; }
  .main-quienes .quienes-content {
    display: inline;
    text-align: center;
    padding: 2.4rem; }
    .main-quienes .quienes-content p {
      text-align: start;
      padding: 2rem; }

.container-card-servicios {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1; }
  .container-card-servicios .card-servicios {
    position: relative;
    width: 280px;
    height: 350px;
    margin: 2.4rem;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px); }
    .container-card-servicios .card-servicios .card-servicios-content {
      padding: 2rem;
      text-align: center;
      transition: 0.5s; }
      .container-card-servicios .card-servicios .card-servicios-content img {
        width: 150px;
        margin: 2.4rem; }
      .container-card-servicios .card-servicios .card-servicios-content h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 2.4rem;
        color: white;
        margin: 1rem;
        line-height: 2.4rem; }
      .container-card-servicios .card-servicios .card-servicios-content p {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        color: white; }

main {
  background: linear-gradient(120deg, #8d43f0, #7C6BE6, #689BDA, #5BBAD2, #4ddcca, #6DEBDB);
  background-size: 200%;
  animation: bg-animation 8s infinite alternate; }

@keyframes bg-animation {
  0% {
    background-position: left; }
  100% {
    background-position: right; } }

.polka-dots {
  position: relative;
  margin-inline: 2.4rem;
  padding-block: 2.4rem;
  background-image: radial-gradient(#ffd104 5px, transparent 1px);
  background-size: 30px 30px;
  width: 125px; }

.hero-section .hero-section-content div, .main-quienes .quienes-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ffd104; }

.hero-section .hero-section-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #7F7F7F;
  text-align: justify; }

.main-quienes .quienes-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: white; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
