// UTILITIES
@import "./parciales/utilities/_variables.scss"; //variables
@import "./parciales/utilities/_mixins.scss"; //media query

// GRIDS
@import"./parciales/layout/grids"; //grids

// LAYOUT
@import"./parciales/layout/navbar"; //barra de navegacion
@import"./parciales/layout/hero"; //hero section
@import"./parciales/layout/cards"; //cards servicios
@import "./parciales/layout/consultoria"; //consultorias
@import"./parciales/layout/background"; //color backgroud


// PAGES

// COMPONENTS
@import"./parciales/components/extend";
@import "./parciales/components/svg";

// BASE 
@import "./parciales/base/reset"; //reset del html 
@import "./parciales/base/typos"; //tipografias 
