// UTILITIES
@import "./parciales/utilities/_variables.scss"; //variables
@import "./parciales/utilities/_mixins.scss"; //media query

// GRIDS
@import"./parciales/layout/grids"; //grids

// LAYOUT
@import"./parciales/layout/navbar"; //barra de navegacion

// PAGES

// COMPONENTS
@import"./parciales/components/extend";

// BASE 
@import "./parciales/base/reset"; //reset del html 
@import "./parciales/base/typos"; //tipografias 
