@mixin desktop {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 769px) {
        @content;
    }
}

@mixin mobil {
    @media screen and (max-width: 426px) {
        @content;
    }
}