//COLORES PRINCIPALES
//saturados
$lila-oso: #8d43f0;
$amarillo-oso: #ffd104;
$celeste-oso: #4ddcca;
$rojo-oso: #ed7576;
$naranja-oso: #f0922e;

//pastel
$lila-oso-pastel: #c9aecf;
$amarillo-oso-pastel: #fcfc95;
$celeste-oso-pastel: #97d5fe;
$rojo-oso-pastel: #ffb3dc;
$naranja-oso-pastel: #fac575;

//degradados
$degrade2: #7C6BE6;
$degrade3: #689BDA;
$degrade4: #5BBAD2;
$degrade6: #6DEBDB;

//transparencia 
$sombra: 20px 20px 50px rgba(0, 0, 0, 0.5);
$borde: 1px solid rgba(255, 255, 255, 0.9); 
$texto: rgba(255, 255, 255, 1);

//contrastes
$negro-oso: black;
$blanco-oso: white;
$gris-oscuro-oso: #7F7F7F;
$gris-claro-oso: #CECECE; 

//TEXTOS
$titulo-uno-oso: 'Montserrat', sans-serif; //700   
$titulo-dos-oso: 'Roboto', sans-serif; //500  
$headline-oso: 'Roboto', sans-serif; //500  
$navbar-oso: 'Roboto', sans-serif; //700  
$body-oso: 'Roboto', sans-serif; //400  

