//COLORES PRINCIPALES
//saturados
$lila-oso: #8d43f0; //principal
$amarillo-oso: #ffd104;//secundario
$celeste-oso: #4ddcca;
$rojo-oso: #ed7576;
$naranja-oso: #f0922e;

//pastel
$lila-oso-pastel: #c9aecf;
$amarillo-oso-pastel: #fcfc95;
$celeste-oso-pastel: #97d5fe;
$rojo-oso-pastel: #ffb3dc;//terceario
$naranja-oso-pastel: #fac575;

//contraste
$negro-oso: black;
$blanco-oso: white;