@import "../utilities/variables";

.card-gradient {
	background: linear-gradient(
		120deg,
		$lila-oso,
		$degrade2,
		$degrade3,
		$degrade4,
		$celeste-oso,
		$degrade4,
		$degrade3,
		$degrade2,
		$lila-oso
	);
	background-size: 200%;
	animation: bg-animation 8s infinite alternate;
}

@keyframes bg-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

.polka__dots::before {
	content: "";
	position: absolute;
	left: 0px;
	margin: 2.4rem;
	background-image: radial-gradient(#ffd104 5px, transparent 1px);
	background-size: 30px 30px;
	width: 90px;
	height: 100%;
	@include desktop {
		width: 95vw;
		height: 120px;
		background-size: 30px 30px;
	}
}
