
.card__container-servicios {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    flex-wrap: wrap;
    z-index: 1;

    @include desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "h2 div div div"
        "div div div div";
        flex-wrap: nowrap;
        padding: 8rem;
    }

    .container__head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        img {
            width: 100px;
            @include mobil {
                display: none;
            }
        }
    }

    .card__servicios {
        position: relative;
        width: 280px;
        height: 350px;
        margin: auto;
        margin-block: 2.4rem;
        box-shadow: $sombra;
        border-radius: 16px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: $borde;
        border-left: $borde;
        backdrop-filter: blur(5px);
        transition: all 500ms ease-in-out;

        .card__servicios-content {
            padding: 2rem;
            text-align: center;
            transition: 0.5s;
            img {
                width: 150px;
                margin: 2.4rem;
            }

            h2 {
                font-family: $titulo-dos-oso;
                font-weight: 500;
                font-size: 2.4rem;
                color: $texto;
                margin: 1rem;
                line-height: 2.4rem;
            }

            p {
                font-family: $body-oso;
                font-weight: 400;
                font-size: 1.6rem;
                color: $texto;
            }
        }
    }
}

@include desktop {
    .card__servicios:hover {
        transform: scale(1.075);
    }
}