.body-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "header"
        "div"
        "main"
        "consultoria"
        "formulario"
        "footer"
    ;
    header {
        grid-area: header;
    }

    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "section"
        "section"
        ;
    }

    footer {
        grid-area: footer;
    }
}

.card__grid-container {
    h2 { 
        @extend %titulo-section-oso; 
        padding: 2.4rem;
        margin: auto;
    }
    display: grid;
}