.hero-section {
	margin-inline: 2.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 12.4rem;

	.hero-section-content {
		display: inline-block;

		h1 {
			font-family: $titulo-uno-oso;
			font-size: 3.4rem;
			font-weight: 700;
			line-height: 35px;
			text-transform: uppercase;
			color: $lila-oso;
			display: inline;
			@include desktop {
				font-size: 6.8rem;
				line-height: 70px;
			}
		}

		div {
			@extend %titulo-dos-oso;
		}

		p {
			@extend %body-oso;
		}

		@include desktop {
			width: 30vw;
		}
	}

	.hero-section-img {
		width: 300px;
		padding: 2.4rem;
		@include desktop {
			width: 450px;
		}
	}

	//MEDIA QUARYS
	@include desktop {
		flex-direction: row;
	}
}
