.hero-section-container {
	.hero-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		margin-top: 12.4rem;

		.hero-section-content {
			display: inline-block;
			margin: 1rem;
			.content--modifier {
				padding: 1.4rem;
				h1 {
					font-family: $titulo-uno-oso;
					font-size: 3.4rem;
					font-weight: 700;
					line-height: 35px;
					text-transform: uppercase;
					color: $lila-oso;
					display: inline;
					@include desktop {
						font-size: 6.8rem;
						line-height: 70px;
					}
				}

				div {
					@extend %titulo-dos-oso;
				}

				p {
					@extend %body-oso;
					width: 80vw;
					@include desktop {
						width: 22vw;
					}
				}

				@include desktop {
					width: 50vw;
				}
			}

			.hero-section-img {
				width: 300px;
				padding: 2.4rem;
				@include desktop {
					width: 500px;
				}
			}

			@include desktop {
				display: flex;
				align-items: center;
				justify-content: space-around;
			}
		}

		.main-quienes {
			display: flex;
			height: 90vh;
			margin: 1rem;
			align-items: center;
			justify-content: center;
			background-image: url(../../../img/fondo-oso.svg);
			background-repeat: no-repeat;
			background-position: center;

			.quienes-content {
				display: inline;
				text-align: center;
				padding: 4rem;
				h2 {
					@extend %titulo-dos-oso;
				}

				p {
					text-align: start;
					padding: 1rem;
					@extend %body-oso-white;
					@include desktop {
						width: 20vw;
					}
				}
				@include desktop {
					width: none;
				}
			}

			@include desktop {
				width: 40vw;
			}
		}
	}

	.polka__dots--gray::before {
		content: "";
		position: absolute;
		z-index: -1;
		left: 0px;
		margin: auto;
		background-image: radial-gradient($gris-claro-oso 5px, transparent 1px);
		background-size: 30px 30px;
		width: 100px;
		height: 100%;
		@include desktop {
			height: 200%;
			width: 120px;
		}
	}
}
