@import "../components/extend";
@import "../utilities/variables";

.modal__primary--content {
	display: flex;
	flex-direction: column;
	--gap: 4em;
	list-style: none;
	position: fixed;
	inset: 40% 0 0 0;
	z-index: 1000;
	background-color: white;
	filter: drop-shadow(0px 4px 4px $gris-oscuro-oso);
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	padding: min(20vh, 5vh) 1rem;
	padding-right: 2.4rem;
	transform: translateY(100%);
	transition: transform 350ms ease-in;
	@include desktop {
		display: none;
	}
}
.background-pastillas {
	background-image: url(../../../img/pastillitas-oso.svg);
	background-position: top;
	background-size: 15%;
	background-repeat: repeat-x;
}
.modal__primary--content[data-visible="true"] {
	transform: translateY(0%);
}

.button-close {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 2rem;

	h3 {
		@extend %headline-modal;
		margin-left: 3rem;
	}
	.btn__close {
		background-color: unset;
		background-image: url(../../../icons/x_oso_lila.svg);
		background-repeat: no-repeat;
		border: 0;
		width: 2.4rem;
		aspect-ratio: 1;
	}
}

.content {
	overflow-y: scroll;
	.text__content {
		width: 100%;
		padding: min(20vh, 2vh) 2rem;
		text-align: justify;
		.text__content--div {
			display: inline-block;
			margin: 0.5rem;
			@extend %body-oso;
		}
	}
}

.modal__desktop {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1000;

	.modal__desktop--content {
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.4rem;
		width: 600px;
		height: 300px;
		max-width: 100%;
		text-align: center;
		border-radius: 8px;
		background-image: url(../../../img/pastillitas-oso.svg);
		background-position: top;
		background-size: 8%;
		background-repeat: repeat-x;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
	}
	.close__desk {
		display: flex;
		padding: 1rem;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2rem;

		.close__btn {
			background-color: unset;
			background-image: url(../../../icons/x_oso_lila.svg);
			background-repeat: no-repeat;
			border: 0;
			width: 2.4rem;
			aspect-ratio: 1;
		}
	}
	.content__desk {
		width: 100%;
		padding: min(20vh, 2vh) 2rem;
		text-align: justify;
		display: inline-block;
		@extend %body-oso;
		p {
			margin-bottom: 1rem;
		}
		overflow-y: scroll;
	}
}

.modal__desktop[data-visible = "true"] {
	display: flex;
}