@import "../components/extend";
@import "../utilities/variables";

.modal__primary--content {
	display: flex;
	flex-direction: column;
	--gap: 4em;
	list-style: none;
	position: fixed;
	inset: 40% 0 0 0;
	z-index: 1000;
	background-color: white;
	filter: drop-shadow(0px 4px 4px $gris-oscuro-oso);
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	padding: min(20vh, 5vh) 1rem;
	padding-right: 2.4rem;
	transform: translateY(100%);
	transition: transform 350ms ease-in;
	@include desktop {
		display: none;
	}
}
.background-pastillas {
	background-image: url(../../../img/pastillitas-oso.svg);
	background-position: top;
	background-size: 15%;
	background-repeat: repeat-x;
}
.modal__primary--content[data-visible="true"] {
	transform: translateY(0%);
}

.button-close {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 2rem;
	@include desktop {
		flex-direction: column;
	}

	h3 {
		@extend %headline-modal;
		margin-left: 3rem;
	}
	.btn__close {
		background-color: unset;
		background-image: url(../../../icons/x_oso_lila.svg);
		background-repeat: no-repeat;
		border: 0;
		width: 2.4rem;
		aspect-ratio: 1;
	}
}

.content {
	overflow: scroll;
	.text__content {
		width: 100%;
		padding: min(20vh, 2vh) 2rem;
		text-align: justify;
		.text__content--div {
			display: inline-block;
			margin: 0.5rem;
			@extend %body-oso;
		}
	}
}

.modal__container--desktop {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.3);
	@include mobil {
		display: none;
	}
}

.modal__desktop {
	background-color: white;
	width: 600px;
	max-width: 100%;
	padding: 2.4rem;
	border-radius: 16px;
	box-shadow: 0px 4px 4px $gris-oscuro-oso;
}


