@import "../utilities/variables"; //variables
@import "../base/reset"; //reset

// primary-header
.flex {
    display: flex;
    gap: var(--gap, 1rem)
}
.primary-header {
    align-items: center;
    justify-content: space-between;
    .logo {
        margin: 2.4rem;
        width: 20vw;
    }
    //elementos del nav -- mobil first
    .primary-nav {
        list-style: none;
        position: fixed;
        inset: 0 0 0 30%;
        background-color: white;
        flex-direction: column;
        padding: 8rem 2rem;
        a {
            text-decoration: none;
            margin-inline-end: 2.4rem;
            @extend %navbar-oso
        }
        span {
            margin-inline-end: 0.75rem;
        }
        //desktop media query
        @include desktop {
            flex-direction: row;
            padding: unset;
            inset: unset;
            position: unset;
            background-color: unset;
        }
    }
}
