.main-quienes {
    display: flex;
    height: 90vh;
    align-items: center;
    // margin-inline: 2rem;
    background-image: url(../../../img/fondo-oso.svg);
    background-repeat: no-repeat;
    background-position: center;

    .quienes-content {
        display: inline;
        text-align: center;
        padding: 2.4rem;
        h2 {
            @extend %titulo-dos-oso; 
        }
    
        p {
            text-align: start;  
            padding: 2rem; 
            @extend %body-oso-white;
        }
    }

}