@import "../utilities/variables"; //variables

%titulo-uno-oso {
    font-family: $titulo-uno-oso;
    font-size: 4.5rem; 
    font-weight: 700;
}

%titulo-dos-oso {
    font-family: $tiutlo-dos-oso;
    font-size: 3.2rem;
    font-weight: 500;
    color: $amarillo-oso;
}

%headline-oso {
    font-family: $headline-oso;
    font-size: 2.1rem;
    font-weight: 400;
    color: $negro-oso;
}

%body-oso {
    font-family: $body-oso;
    font-size: 2.1rem;
    font-weight: 400;
    color: $gris-oscuro-oso;
}

%display {
    display: flex;
}