@import "../utilities/variables"; //variables
@import "../utilities/mixins"; //media querys

%titulo-uno-oso-desktop {
    font-family: $titulo-uno-oso;
    font-size: 6.8rem; 
    font-weight: 700;
    line-height: 35px;
    text-transform: uppercase;
    color: $lila-oso;
}

%titulo-uno-oso {
    font-family: $titulo-uno-oso;
    font-size: 3.4rem; 
    font-weight: 700;
    line-height: 35px;
    color: $lila-oso;
}

%titulo-section-oso {
    font-family: $titulo-uno-oso;
    font-size: 3.4rem;
    font-weight: 500;
    color: $blanco-oso;
}

%titulo-dos-oso {
    font-family: $titulo-dos-oso;
    font-size: 2.4rem;
    font-weight: 500;
    color: $amarillo-oso;
}

%headline-oso {
    font-family: $headline-oso;
    font-size: 1.6rem;
    font-weight: 700;
    color: $negro-oso;
}

%navbar-oso {
    font-family: $navbar-oso;
    font-size: 1.6rem;
    font-weight: 700;
    color: $lila-oso;
}

%menu-oso {
    font-family: $headline-oso;
    font-size: 1.6rem;
    font-weight: 700;
    color: $lila-oso-pastel;
}

%body-oso {
    font-family: $body-oso;
    font-size: 1.6rem;
    font-weight: 400;
    color: $gris-oscuro-oso;
    text-align: justify;
}

%body-oso-card {
    font-family: $body-oso;
    font-size: 1.6rem;
    font-weight: 400;
    color: $gris-oscuro-oso;
    font-weight: 700
}

%body-oso-white {
    font-family: $body-oso;
    font-size: 1.6rem;
    font-weight: 400;
    color: $blanco-oso;
}

%sombra-menu-oso {
    background-color: $blanco-oso;
    filter: drop-shadow(2px 2px 5px $gris-oscuro-oso);
}

