@import "../utilities/variables"; //variables

%titulo-uno-oso {
    font-family: $titulo-uno-oso;
    font-size: 3.4rem; 
    font-weight: 700;
}

%titulo-dos-oso {
    font-family: $tiutlo-dos-oso;
    font-size: 2.4rem;
    font-weight: 500;
    color: $amarillo-oso;
}

%headline-oso {
    font-family: $headline-oso;
    font-size: 1.6rem;
    font-weight: 700;
    color: $negro-oso;
}

%navbar-oso {
    font-family: $navbar-oso;
    font-size: 1.6rem;
    font-weight: 700;
    color: $lila-oso;
}

%menu-oso {
    font-family: $headline-oso;
    font-size: 1.6rem;
    font-weight: 700;
    color: $lila-oso-pastel;
}

%body-oso {
    font-family: $body-oso;
    font-size: 1.6rem;
    font-weight: 400;
    color: $gris-oscuro-oso;
}

%sombra-menu-oso {
    background-color: $blanco-oso;
    filter: drop-shadow(2px 2px 5px $gris-oscuro-oso);
}
